{{!--<form class="form" onsubmit="return false" data-url="{{urls.search}}" data-quick-search-form>
    <fieldset class="form-fieldset">
        <div class="form-field">
            <label class="is-srOnly" for="{{name}}">{{lang "search.quick_search.input_label"}}</label>
            <svg class="icon-input" data-src='{{cdn "assets/icons/search.svg"}}'></svg>
            <input class="form-input"
                    data-search-quick
                    name="{{name}}"
                    id="{{name}}"
                    data-error-message="{{lang 'search.error.empty_field'}}"
                    autocomplete="off"
                    placeholder="{{lang 'search.quick_search.input_placeholder'}}"
            >
            <button data-close-search class="close-search">Cancel</button>
        </div>
    </fieldset>
</form>
<section class="PopupQuickSearchResults">
    <div class="search-result">
        <div class="search-categories">
            <div class="categories-block">
                <h5>Categories</h5>
                <ul>
                    <li>
                        <a href="/">LUCAS Accessories</a>
                    </li>
                    <li>
                        <a href="/">Temperature Accessories</a>
                    </li>
                    <li>
                        <a href="/">Transport Accessories</a>
                    </li>
                </ul>
            </div>
            <div class="categories-block">
                <h5>Equipment</h5>
                <p class="search-categories-empty">No equipment results</p>
            </div>
        </div>
        <div class="search-products">
            <div class="top-products">
                <h5>Products <span>32</span></h5>
                <a href="/">See All Products</a>
            </div>
            <div class="products-wrapper">
                <div class="result-product">
                    <img src="https://cdn11.bigcommerce.com/s-azudcv1hv2/images/stencil/original/image-manager/image.png?t=1661951128&_gl=1*njdo2p*_ga*MTY3MzUzMzAxLjE2NTkwODM3MjA.*_ga_WS2VZYPC6G*MTY2MTk1MTExNy43Ni4xLjE2NjE5NTE2ODMuNjAuMC4w" alt="">
                    <div class="result-product-text">
                        <span class="result-product-brand">Microstream</span>
                        <h6 class="result-product-title">Advance intubated filter line adult...</h6>
                        <p class="result-product-price">$1,059.00</p>
                        <p class="result-product-discount-price">$2,000.00</p>
                        <p class="result-product-sku">MVAI100U</p>
                    </div>
                </div>
                <div class="result-product">
                    <img src="https://cdn11.bigcommerce.com/s-azudcv1hv2/images/stencil/original/image-manager/image.png?t=1661951128&_gl=1*njdo2p*_ga*MTY3MzUzMzAxLjE2NTkwODM3MjA.*_ga_WS2VZYPC6G*MTY2MTk1MTExNy43Ni4xLjE2NjE5NTE2ODMuNjAuMC4w" alt="">
                    <div class="result-product-text">
                        <span class="result-product-brand">Microstream</span>
                        <h6 class="result-product-title">Advance intubated filter line adult...</h6>
                        <p class="result-product-price">$1,059.00</p>
                        <p class="result-product-discount-price">$2,000.00</p>
                        <p class="result-product-sku">MVAI100U</p>
                    </div>
                </div>
                <div class="result-product">
                    <img src="https://cdn11.bigcommerce.com/s-azudcv1hv2/images/stencil/original/image-manager/image.png?t=1661951128&_gl=1*njdo2p*_ga*MTY3MzUzMzAxLjE2NTkwODM3MjA.*_ga_WS2VZYPC6G*MTY2MTk1MTExNy43Ni4xLjE2NjE5NTE2ODMuNjAuMC4w" alt="">
                    <div class="result-product-text">
                        <span class="result-product-brand">Microstream</span>
                        <h6 class="result-product-title">Advance intubated filter line adult...</h6>
                        <p class="result-product-price">$1,059.00</p>
                        <p class="result-product-discount-price">$2,000.00</p>
                        <p class="result-product-sku">MVAI100U</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-empty">
        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M40.1875 36.6406L30.7344 27.1875C30.5 27.0312 30.2656 26.875 30.0312 26.875H29.0156C31.4375 24.0625 33 20.3125 33 16.25C33 7.34375 25.6562 0 16.75 0C7.76562 0 0.5 7.34375 0.5 16.25C0.5 25.2344 7.76562 32.5 16.75 32.5C20.8125 32.5 24.4844 31.0156 27.375 28.5938V29.6094C27.375 29.8438 27.4531 30.0781 27.6094 30.3125L37.0625 39.7656C37.4531 40.1562 38.0781 40.1562 38.3906 39.7656L40.1875 37.9688C40.5781 37.6562 40.5781 37.0312 40.1875 36.6406ZM16.75 28.75C9.79688 28.75 4.25 23.2031 4.25 16.25C4.25 9.375 9.79688 3.75 16.75 3.75C23.625 3.75 29.25 9.375 29.25 16.25C29.25 23.2031 23.625 28.75 16.75 28.75Z" fill="black"/>
        </svg>
        <h6>No results for “Accessories”</h6>
        <p>Sorry, we can’t find anything that matches your search term. Please try another term.</p>
    </div>
</section>
--}}

<form class="form" method="get" action="/search/">
    <fieldset class="form-fieldset">
        <div class="form-field">
            <label class="is-srOnly" for="{{name}}">{{lang "search.quick_search.input_label"}}</label>
            <svg class="icon-input" data-src='{{cdn "assets/icons/search.svg"}}'></svg>
            <input class="form-input ss-autocomplete"
                    name="search_query"
                    id="{{name}}"
                    data-error-message="{{lang 'search.error.empty_field'}}"
                    autocomplete="off"
                    placeholder="{{lang 'search.quick_search.input_placeholder'}}"
            >
            <button data-close-search class="close-search">Cancel</button>
        </div>
    </fieldset>
</form>
