---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
gql: "query productMetafieldsById($productId: Int!) {
        site {
            product(entityId: $productId) {
                entityId
                name
                metafields(
                    namespace: \"main_meta\"
                    keys: [\"additional_products\",\"ship_day\",\"additional_title\",\"additional_details\"]
                )   {
                    edges {
                        node {
                            value
                            key
                        }
                    }
                }
            }
        }
    }
"
---
{{inject 'productId' product.id}}

{{#partial "page"}}

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <div class="container">
        {{#each product.shipping_messages}}
            {{> components/common/alert/alert-info message}}
        {{/each}}
    </div>

    <div itemscope itemtype="https://schema.org/Product">
        {{> components/products/product-view schema=true  }}
        <span class="product-json-data" style="display:none;">{{json product}}</span>
        {{{region name="product_help--global"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#all settings.show_product_reviews theme_settings.show_product_reviews (if theme_settings.show_product_details_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}
    </div>
    {{> components/products/carousel products=product.related_products columns=4 list="Related Products"}}
{{/partial}}
{{> layout/base}}
