// =============================================================================
// LOGIN (CSS)
// =============================================================================
.login{
    margin-bottom: 100px;
    @media screen and (max-width: 900px){
        margin-bottom: 48px;
    }
    @include breakpoint("medium") {
        margin-top: 275px;
    }
    .alertBox{
        margin-bottom: 40px;
        @media screen and (max-width: 800px){
            margin-top: 100px;
        }
    }
    .login-row {
        display: flex;
        gap: 90px;
        justify-content: space-between;
        @media screen and (max-width: 900px){
            flex-direction: column;
            gap: 32px;
        }
        &:before, &:after{
            content: none;
        }
    }
    
    .login-form-container{
        max-width: 406px;
        width: 100%;
        @media screen and (max-width: 900px){
            max-width: 100%;
        }
        .page-subtitle{
            font-weight: 500;
            margin-bottom: 32px;
        }
        .page-heading{
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            margin: 50px 0 16px;
        }
        .form-label{
            color: #000;
        }
        .form-field{
            margin-bottom: 16px;
        }
        .form-input{
            padding: 10px 20px;
            color: #767979;
            &::placeholder{
                color: #767979;
            }
        }
    }
    .login-form.form{
        margin-bottom: 0;
        .button--primary{
            padding: 10px 20px;
            margin-bottom: 0;
        }
        .form-actions{
            p{
                width: 100%;
                margin-bottom: 32px;
                @media screen and (max-width: 900px){
                    text-align: initial;
                    margin-bottom: 24px;
                }
                a{
                    color: #85458A;
                }
            }
        }
        .form-field--error .form-field-error, .form-field--error .form-inlineMessage{
            color: #DD2000;
        }
    }
    .new-customer{
        max-width: 566px;
        @media screen and (max-width: 900px){
            max-width: 100%;
        }
        .panel-title{
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 16px;
        }
        .panel{
            background: #FFB500;
            border-radius: 8px;
            padding: 56px;
            @media screen and (max-width: 900px){
                padding: 32px;
            }
        }
        .new-customer-intro{
            margin-bottom: 32px;
        }
        .panel-header, .panel-body{
            background: #FFB500; 
            padding: 0;
            margin: 0;
            a{
                display: block;
            }
            p{
                font-weight: 500;
            }
        }
        .button--primary{
            background: #FFFFFF;
            border: 1px solid #000000;
            border-radius: 4px;
            padding: 10px 20px;
            max-width: max-content;
            @media screen and (max-width: 900px){
                max-width: 100%;
            }
            &:focus, &:hover{
                border: 1px solid #000;
                color: #000;
                background: rgba(255, 181, 0, 0.08);
            }
        }
        .title-list{
            margin-bottom: 16px;
        }
        
        .new-customer-fact-list {
            margin: 0 0 32px 2rem;
            li{
                font-weight: 500;
            }
        }
    }
}
.account--fixedSmall {
    .account-reset{
        max-width: 403px;
        margin: 274px auto 100px;
        @media screen and (max-width: 800px){
            margin: 84px auto 48px;
        }
        .form-actions.btn-container{
            .button{
                padding: 9px 20px;
            }
            .button--secondary{

            }
        }
        .form-field--error .form-inlineMessage{
            color: #000000;
            &::before{
                content: none;
            }
        }
    }
    .form-prefixPostfix.wrap{
        flex-direction: column;
    }
    .page-heading{
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        margin: 0 0 16px;
    }
    p{
        margin-bottom: 32px;
        font-weight: 500;
    }
    .form-label{
        color: #000000;
    }
    .form-prefixPostfix .form-input{
        padding: 10px 20px;
    }
    .btn-wrapper{
        display: flex;
        margin-top: 32px;
        gap: 12px;
        width: 100%;
        @media screen and (max-width: 800px){
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
    }
    .form-prefixPostfix{
        .button--primary{
            padding: 9px 20px;
            width: max-content;
            height: auto;
            @media screen and (max-width: 800px){
                width: 50%;
            }
        }
        a{
            background: #FFFFFF;
            border: 1px solid #000000;
            border-radius: 4px;
            &:hover{
                border: 1px solid #ffb500;
                color: #000;
                background: rgba(255, 181, 0, 0.08);
            }
        }
    }
}
