<div class="slide-home container">
    <h2 class="title-section">{{lang 'home.heading_categories'}}</h2>
    <section class="home-product-carousel"
        data-slick='{
            "infinite": true,
            "dots": true,
            "mobileFirst": true,
            "slidesToShow": 2,
            "slidesToScroll": 1,
            "slide": "[data-product-slide]",
            "responsive": [
                {
                    "breakpoint": 1000,
                    "settings": {
                        "slidesToShow": 4,
                        "slidesToScroll": 1
                    }
                },
                {
                    "breakpoint": 550,
                    "settings": {
                        "slidesToShow": 3,
                        "slidesToScroll": 1
                    }
                }
            ]
        }'
    >
        {{#each categories}}
        <div data-product-slide class="productCarousel-slide">
            <article class="card">
                <figure class="card-figure">
                    <a href="{{url}}"
                    class="card-figure__link"
                    aria-label="{{name}}"
                    >
                        <div class="card-img-container">
                            <img src="" alt="">
                        </div>
                    </a>
                </figure>
                <div class="card-body">
                    <h3 class="card-title">
                        <a aria-label="{{name}}" href="{{url}}">
                            {{name}}
                        </a>
                    </h3>
                </div>
            </article>
        </div>
        {{/each}}
    </section>
</div>
