
{
    "data": {
        "uuid": "77ec5fbe-2ad8-4032-b637-1b788902bf5d",
        "name": "Contact Support",
        "schema": [
            {
                "type": "tab",
                "label": "Contact Support",
                "sections": [
                    {
                        "settings": [
                            {
                                "type": "text",
                                "label": "Title",
                                "id": "title",
                                "default": ""
                            },
                            {
                                "type": "text",
                                "label": "Subtitle",
                                "id": "subtitle",
                                "default": ""
                            },
                            {
                                "type": "text",
                                "label": "Description",
                                "id": "description",
                                "default": ""
                            },
                            {
                                "type": "text",
                                "label": "Title Bottom",
                                "id": "titleBottom",
                                "default": ""
                            },
                            {
                                "type": "input",
                                "label": "Btn URL",
                                "id": "btnUrl",
                                "default": ""
                            },
                            {
                                "type": "input",
                                "label": "Btn Text",
                                "id": "btnText",
                                "default": ""
                            } 
                        ]
                    }
                ]
            }
        ],
        "template": "<div class="stryker-contact-form-container">
    <div class="stryker-contact-form-title">
        <h3>Stryker ProCare</h3>
        <p>Complete your lifesaving system with our comprehensive ProCare service plans.</p>
    </div>
    <div class="stryker-contact-form-wrapper">
        <div class="contact-text">
            <p>A ProCare service plan gives you the peace of mind to do your job with confidence. We make sure your lifesaving devices are ready when you need them, so you can focus on your mission. We have 3 unique plans designed to meet your needs. </p>
            <p class="bottom-text-bold">Interested in learning more? Click Learn More to hear all about our plans and services.</p>
            <a class="button button--primary" href="https://www.stryker.com/us/en/services/procare.html">Learn More</a>
        </div>
        <div class="contact-form">
            <div class="powr-form-builder" id="36709eea_1660913042"></div><script src="https://www.powr.io/powr.js?platform=bigcommerce"></script>
        </div>
    </div>
</div>"
    },
    "meta": {}
}
